-var titulo = "Titulo Principal " 
-var titulos = ["Titulo 1","Titulo 2","Titulo 3"]
-var usuario = "Julian"
mixin caja(imagen,titulo,contenido)
    .caja 
          .caja__imagen: img(src="images/"+imagen)
          .caja__contenido 
            h3=titulo
            p=contenido
html(lang="en")
    include componentes/head.pug
    body
      header  
        h1 PlatziGames
        if usuario 
          a Hola #{usuario}
        else 
          a.boton Registro
      block contenidos